<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KBA Auction Dapp on Ethereum</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <h1>Auction Dapp on Ethereum</h1>
  <p class="stylename1">A vehicle’s owner deploys the contract to the blockchain and becomes the auction owner. The
    auction is open immediately after the contract deployment, and once the bidding period is over, the highest bidder
    wins the auction, and the other participants withdraw their bids.</p>
</head>

<body>
  <table>

    <td>

      <h2>Auction Details</h2>
      <br>
       <div id="details">
        <p><b>Car Brand</b> : <%= car[0] %></p>
        <br>
        <p><b>Car Registration Number</b> : <%= car[1] %></p>
        <br>
        <p><b>Current Car Owner</b> : <%= car[2] %></p>
        <br>
        <p><b>Auction Owner</b> : <%= data[3] %></p>
        <br>
        <p id="endingTime"><b>Auction End</b> : <%= data[0] %></p>
        <br>
        <p><b>Highest Bid</b> : <%= HighestBid %> </p>
        <br>
        <p><b>Highest Bidder</b> : <%= data[2] %></p>
        <br>
        <p><b>Auction Status</b> : <%= state %></p>
    </td>
</tr>
</table>
<div class="footer">&copy; Copyright 2019, Kerala Blockchain Academy</div>
</body>

</html>